<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>超赛体育</title>
  <link rel="stylesheet" href="./css/base.css">



</head>
<body>
  <div id="app">
    <span v-bind:title='tit'>最强模版引擎-有预习力推{{msg}}</span>
    <ul>
      <li v-for='it in item'>{{it}}</li>
    </ul>
  </div>
  <div class="app3">
    <ul v-if='seen'>
      <li v-for="(value ,key,index) in item">{{value}},{{key}},{{index}}</li>
    </ul>
    <side v-bind:tode='msg | canvans("react不服")'></side>
    <button v-on:click='jump'>逆转未来</button>
    <input type="text" name="" id="" v-model.lazy='msg'>
    <p class="caa">{{msg}}</p>
  </div>
  <script src='./lib/vue.js'></script>
  <script src="./lib/jquery-1.8.3.min.js"></script>
  <script src='./js/index-min.js'></script>
</body>

</html>
