<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>gulp测试</title>
  <link rel="stylesheet" href="./css/base.css">



</head>
<body>
  <div id="app">
    <span v-bind:title='tit'>渐进增量的模版引擎-{{msg}}</span>
    <ol>
      <li v-for='it in item'>{{it}}</li>
    </ol>
  </div>
  <div class="app3">
    <ul v-if='seen'>
      <li v-for="(value ,key,index) in item">{{index+1}} - {{value}} => {{key}}</li>
    </ul>
    <side v-bind:tode='msg | canvans("react不服")'></side>
    <button v-on:click='jump'>点我试试看</button>
    <input type="text" name="" id="" v-model.lazy='msg' placeholder="请输入">
    <p class="caa">{{msg}}</p>
    <img src="./img/gulp图鉴.png" alt="学学gulp">
  </div>
  <script src='./lib/vue.js'></script>
  <script src="./lib/jquery-1.8.3.min.js"></script>
  <script src='./js/index-min.js'></script>
</body>

</html>
